<nav>
    <ul>
      <li><button class="btn-nav"><a href="/inicio">Inicio</a></button></li>
      <li><button class="btn-nav"><a href="/amigos">Amigos</a></button></li>
      <li><button class="btn-nav"><a href="/grupos">Grupos</a></button>
        
        <ul class="submenu">
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
        </ul>
    
      </li>
      <li><a href="/mensajes"><button class="btn-nav">Mensajes</button></a></li>
      <li><a href="/sobre"><button class="btn-nav">Sobre LFG</button></a></li>


    </ul>
  </nav>
