<div id="tabla-mensajes">
    <table class="table table-bck">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="col-md-1">ID_MSJ</th>
            <!-- Llamar a PIPE para cambiar parte del mensaje -->
            <th scope="col" class="col-md-4">CONTENIDO</th>
            <th scope="col" class="col-md-2">RECIBIDO (HORA)</th>
            <th scope="col" class="col-md-1">USUARIO</th>
            <th scope="col" class="col-md-2">GESTIONAR</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td id ="msj-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </td>
            <td id="msj-time">14/09/2021 12:17:00</td>
            <td id ="msj-sender">Otto</td>
            <td>
              <button id ="msj-detail" class="btn-blue">Ver</button>
              <button id="msj-delete" class="btn-red">Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
<div class="pag-box-container">
    <div class="paginacion-tras-tabla">
<div id="fake-pag-container">
    <div class="fake-pag-box"><a href="#">1</a></div>
    <div class="fake-pag-box"><a href="#">1</a></div>
    <div class="fake-pag-box"><a href="#">1</a></div>
    <div class="fake-pag-box"><a href="#">1</a></div>
    <div class="fake-pag-box"><a href="#">1</a></div>
    <div class="fake-pag-box"><a href="#">1</a></div>
    <div class="fake-pag-box"><a href="#">1</a></div>
</div>
    </div>
</div>
