<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>LFG - Desarrollo</title>
  </head>
  <!-- 
      <video muted autoplay loop class="back-video">
    <source src="/assets/videos/video1.mp4" type="video/mp4">
  </video>
  -->
<img src="/assets/gifs/gif-1080-lq.gif" class="back-video" />
  <body class="container-fluid" style="padding: 0; margin: 0">

    <header class="bck-col">

      <div class="row">

        <div class="col col-login">
          <app-userbar></app-userbar>
        </div>

        <div class="col-sm">
        </div>

        <div class="col">
         <app-navbar></app-navbar>
        </div>

      </div>
    </header>

    <div class="comp-container">
      <!-- Controlar que salga el aside dependiendo de la pag -->
      <!-- Quitarlo en HOME, en Sobre etc-->
    <aside class="logostile font-sm" *ngIf="!isHomePage()">
      <h3>{{tituloAsideData}}</h3>
      <p class="comp-text">{{asideData}}</p>
      <div class="cont-inyectado">
        Contenido inyectado:
      </div>
      </aside>

<!-- Fix para las diferencias cuando no hay navbar -->
    <main *ngIf="!isHomePage()">
      <router-outlet></router-outlet>
      </main>
      <main *ngIf="isHomePage()" style="padding: 0">
        <router-outlet></router-outlet>
      </main>
    </div> <!-- Fin comp container -->

    <footer class="jetset">
      <div class="row footer-row" style="color: white">
        <div class="col">LFG<br><span style="font-family: Modern Sans">Team 1: Adrián Pobo, Anna Marín, Sergio Aragón - 2021</span></div>
      </div>
      </footer>
  </body>
</html>