
<div>
    <table class="table table-bck">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#Num. Usuarios</th>
            <th scope="col">Nombre</th>
            <th scope="col">Creador</th>
            <th scope="col">Juego</th>
            <th scope="col">Gestionar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{getData[0].id}}</th>
            <td>{{getData[0].nombre}}</td>
            <td>{{getData[0].creador}}</td>
            <td>{{getData[0].juego.nombre}}<img width="64px" style="margin-left: 4px; border: 2px solid black" src="../../assets/img-juegos/{{getData[0].juego.imagen}}"></td>
            <td>
              <button>Entrar</button>
              <button>Info</button>
              <button>Dejar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    

  <!--   NGFor para pintar los necesarios -->
 <div id="chars-container" *ngFor="let item of arrayGrupos">
        <div class="char-container">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <img src="{{item[1]}}" /> 
        <br>
        <a href="/detalle">MÁS</a>
        <br>
    </div> 
    </div>


