<div>
    <br>
<div class="component-header" style="text-align: center">
<h2 class="logostile font-lg comp-title">GRUPOS</h2>
    <br>
    <div class="selector-links logostile font-md comp-subtitle"><a>Mis grupos</a> | <a>Buscar grupo</a> | <a>Crear grupo</a></div>
</div>

</div>

<div id="login-container" style="text-align: center">
    <!--  *ngIf="isLoggedOn" -->
<form [formGroup]="outputForm" (ngSubmit)="submitForm()" style="margin-top: 40px">
<input type="text" id="uname" formControlName="nombre">
<br>
<input type="text" id="upass" formControlName="creador">
<br>
<input type="text" id="upass" formControlName="juego">
<br>
<input type="submit" value="submit">
</form>
</div>

