/* You can add global styles to this file, and also import other style files */
/* Estructura */
html{
    height: 100%;
}

header{
    color: white;
    padding: 0;
    width: auto;
    margin-top: 14px;
}

body{
    margin: 0;
    min-height: 100%;
    background-color: transparent !important;
}

footer{
    height: 160px;
    background-color: #465362;
    width: 60%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-row{

}


main{
    width: 100%;
    min-height: 720px;
    margin: 0;
    padding: 2%;
    background-color: transparent;
}

aside{
    background: rgb(44,34,195);
    background: linear-gradient(0deg, rgba(44,34,195,1) 0%, rgba(4,7,69,0.5270483193277311) 100%);
    width: 24%;
    height: auto;
    border: 4px solid lightblue;
    border-radius: 12px;
    margin: 0;
    margin-top: 10px;
    padding: 26px;
    color: white;
}

nav{
    height: 100px;
    vertical-align: middle;
    background-color: #465362;
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

ul > li{
    display: inline !important;
}

/* Listas y menús */

.submenu{
    display: none;
}

.submenu:hover{
    display: block;
}

/* Botones */

.btn-context{
    font-family: "Pixeloid";
    color: black;
    font-size: 18px;
    margin-right: 4px;
}

.btn-green{
    background-color: lightgreen;
}

.btn-blue{
    background-color: lightblue;
    border: 1px solid blue;
}

.btn-blue:hover{
    background-color: darkcyan;
}

.btn-yellow{
    background-color: lightyellow;
    border: 1px solid yellow;
}

.btn-yellow:hover{
    background-color: orange;
}

.btn-red{
    background-color: palevioletred;
    border: 1px solid red;
}

.btn-red:hover{
    background-color: red;
}

.btn-nav{
    background-color:transparent;
    color: white;
    font-family: 'Jet-Set';
    font-size: 20px;
    border: 0;
    padding-right: 8px;

}

.btn-nav:hover{
    border-bottom: 3px solid black;
}

.btn-nav:hover::before{
    content: "►";
}

.btn-nav:active::before{
    content: "►";
}

.btn-nav a:visited{
    border-bottom: 3px solid black
}


/* Components (Sobretodo centrales)*/

#profile-container div{
    float: left;
    border: 1px solid red;
    background-image:url("/assets/def/notloggedin.jpg");
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-size: cover;
}

.comp-container{
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-content: center;
    align-items: stretch;
    background-color: transparent;
    min-height: 800px;
}

.component-header{
    padding-bottom: 4%;
}

.comp-title{
    margin-bottom: 20px;
    display: inline;
}

.comp-subtitle{
    margin-top: 10px;
}

.comp-text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 300;
}

/* Tablas */

.table-bck{
    background: rgb(44,34,195);
    background: linear-gradient(0deg, rgba(44,34,195,1) 0%, rgba(4,7,69,0.86) 100%);
    color: white !important;
}

#example tr{
    color: white;
}

th{
    font-family:'Jet-Set' !important;
    background-color: black !important;
}

td{
    font-family: 'Modern Sans' !important;
    font-size: 1.2em;
}

#tabla-mensajes tr{
    height: 66px;
}

/* Paginación */

.fake-pag-box{
    min-width: 24px;
    min-height: 24px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

/* Fuentes y TIpografía*/

.jetset{
    font-family:'Jet-Set' !important;
    font-weight: 300;
}

.logostile{
    font-family:'Logostile' !important;
    font-weight: 300;
}

.font-sm{
    font-size: 28px;
}

.font-md{
    font-size: 38px;
}

.font-lg{
    font-size: 48px
}

@font-face {
    font-family: 'Jet-Set';
    src: url("assets/fonts/Jet-Set.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'Logostile';
    src: url("assets/fonts/Logostile.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'Tenby-Five';
    src: url("assets/fonts/tenby-five.otf");
    font-weight: 300;
}

@font-face {
    font-family: 'Modern Sans';
    src: url("assets/fonts/ModernSans-Light.otf");
    font-weight: 300;
}

@font-face{
    font-family: 'Pixeloid';
    src: url("assets/fonts/PixeloidMono.ttf");
    font-weight: 300;
}



